<div class="card">
    <div class="card-body row">
        <div>
    
        </div>

        
      <h5 class="card-title">Product Update</h5>
      <div class="col-6">          
        <form class="row g-1 container" method="POST" action="/products/update" id="productCreateForm">
            <input type="hidden" name="id"  id="id" value="<%= result._id %>" />
            <div class="col-md-12">

              <label for="validationDefault01" class="form-label">Name</label>
              <input type="text" class="form-control" id="name"  name="name" id="validationDefault01" value="<%= result.name %>" required>
            </div>
            <div class="col-md-12">
              <label for="validationDefault02" class="form-label">Description</label>
              <input type="text" class="form-control" id="desc"  name="desc" id="validationDefault02" value="<%= result.desc %>" required>
            </div>
            <div class="col-md-12">
              <label for="validationDefaultUsername" class="form-label">Price</label>
              <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2">INR</span>
                <input type="number" class="form-control" id="price" name="price" id="validationDefaultUsername" value="<%= result.price %>"  aria-describedby="inputGroupPrepend2" required>
              </div>
            </div>   
            <div class="col-md-12 mt-4">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>       
          </form>
      </div>      
    </div>
  </div>
