<div>
    <div class="container-fluid page-body-wrapper">
        <Header></Header>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title mb-0">Customer Wise Sales</p>
                        <hr >

                         <div class="row" >
                              <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="">From -To Date</span>
                                    </div>
                                    <input type="date" class="form-control" v-model="formFilter.from_date">
                                    <input type="date" class="form-control" v-model="formFilter.to_date">
                                  </div>
                              </div>

                              <div class="col-sm-3">
                                <div class="form-group">                                   
                                    <select class="form-control" v-model="formFilter.userId" id="exampleFormControlSelect1">
                                        <option value=""> Choose User</option>
                                        <option v-for="item in userList" v-bind:value="item._id">{{item.name}}</option>
                                        
                                    </select>
                                  </div>

                                 
                              </div>
                              <div class="col-sm-3">

                                <button type="button" class="btn btn-dark" @click.prevent="searchForm()">
                                    Search
                                </button>
                                  </div>
                         </div>

                         <hr >

                        <div class="table-responsive mt-5">
                            <table class="table  table-bordered">
                                <thead>
                                    <tr style="background-color: #8482d7;">
                                        <th>#</th>
                                        <th>Customer Name</th>
                                        <th>Sales Count</th>
                                        <th>Total Sales Amount</th>                                        
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr v-for="item in customerList">
                                        <td>{{item.no}}</td>
                                        <td>{{item.userName}}</td>
                                        <td>{{item.sales_count}}</td>                                        
                                        <td>{{item.totalAmount.$numberDecimal || item.totalAmount }}</td>                                                                              
                                    </tr>


                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>