<div id="content" class="flheight common_bg">
	

    <div class="common_bg border-bottom p-3 ">
        <a class="toggle togglew toggle-2" href="#"><span></span></a>
        <h4 class="font-weight-bold m-0 text-white">Scan QR Code

            <i aria-hidden="true" class="fa fa-close pull-right" @click="goBack"></i>

        </h4>
    </div>

	<div v-if="loading" class="d-flex flex-column align-items-center justify-content-center vh-100 "        >
        <div class="row">
            <img alt="#" src="images/loader/Black_Loading.gif" class="mr-3 rounded loader_img" style="">
        </div>
        <div class="row mt-3">
            <strong style="color:white">{{ loadingTitle }}</strong>
        </div>
    </div>
	<div id="reader" v-else class="">
		<!--<img src="images/loader.gif" alt="" />-->		
		<video id="preview" style="margin: auto;"></video>
		<img src="images/scanner.png" alt="" v-if="showMarker" style="position: absolute;
		top: 28%;
		left: 25%;
		right: 0;
		bottom: 0;	
		transition: 250ms opacity ease-out;
		line-height: 315px;
		text-align: center;
		-webkit-pointer-events: none;
		pointer-events: none;"/>
	</div>
</div>